trigger:
- main

variables:
  vmConnectionName: 'bookstore2'
  vmIpAddress: '40.76.124.247'
  projectName: 'BookStore'
  deployPath: '/home/azureuser/BookStore1/gitrepo/BookStore'

stages:
- stage: Deploy
  jobs:
  - deployment: DeployToVM
    environment: 'Production'
    pool:
      vmImage: 'ubuntu-latest'
    strategy:
      runOnce:
        deploy:
          steps:
          - task: SSH@0
            inputs:
              sshEndpoint: '$(vmConnectionName)'
              runOptions: 'commands'
              commands: |
                git config --global --add safe.directory $(deployPath)
                cd $(deployPath) && git pull
                dotnet restore
                dotnet build --configuration Release
                # dotnet run --configuration Release
