trigger:
  - main

pool:
  name: 'Default'

variables:
  system.debug: true

steps:
- checkout: self
  clean: true
  fetchDepth: 1

- task: UseDotNet@2
  displayName: 'Install .NET SDK'
  timeoutInMinutes: 10
  continueOnError: false
  inputs:
    packageType: 'sdk'
    version: '6.0.x'

- task: NuGetToolInstaller@1
  displayName: 'Install NuGet Tool'
  timeoutInMinutes: 10
  continueOnError: false

- task: NuGetCommand@2
  displayName: 'Restore NuGet Packages'
  timeoutInMinutes: 15
  continueOnError: false
  inputs:
    command: 'restore'
    restoreSolution: '**/*.sln'

- task: VSBuild@1
  displayName: 'Build Solution'
  timeoutInMinutes: 30
  continueOnError: false
  inputs:
    solution: '**/*.sln'
    msbuildArgs: '/p:Configuration=Release /p:Platform="Any CPU"'
    clean: true
    restoreNugetPackages: false

- task: DotNetCoreCLI@2
  displayName: 'Run Unit Tests'
  timeoutInMinutes: 20
  continueOnError: false
  inputs:
    command: test
    projects: '**/*.csproj'

- task: PublishBuildArtifacts@1
  displayName: 'Publish Build Artifacts'
  timeoutInMinutes: 10
  continueOnError: false
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
    publishLocation: 'Container'